.modal {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.581);
  backdrop-filter: blur(5px);

  &__wrapper {
    display: flex;
    background: rgba(255, 255, 255, 0.264);	
    position: relative;
    height: 200px;
    width: 500px;
    border-radius: 5px;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: 0;

    svg {
      font-size: 28px;
      fill: white;
    }
  }
}